<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" allowLocation="true" allowDefinition="Everywhere" />
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
    <sectionGroup name="enyim.com">
      <section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>

  <nlog configSource="nlog.config" />
  <hibernate-configuration configSource="nhibernate.config" />
  <couchbase configSource="caching-server.config" />
  <enyim.com>
    <log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />
  </enyim.com>

</configuration>
