<?xml version="1.0" encoding="utf-8" ?>
<caching enabled="true">
  <interfaces>
    <interface name="IProjectRepository" enabled="true" ttlInMinutes="10" cachingMode="Default" />
    <interface name="IPostRepository" enabled="true" ttlInMinutes="5" cachingMode="HonorFeedProcessingConfig" />
    <interface name="IPhotoRepository" enabled="true" ttlInMinutes="5" cachingMode="HonorFeedProcessingConfig" />
    <interface name="IVideoRepository" enabled="true" ttlInMinutes="5" cachingMode="HonorFeedProcessingConfig" />
    <interface name="IMemberRepository" enabled="true" ttlInMinutes="5" cachingMode="Default" />
    <interface name="IMemberLikeSharesRepository" enabled="true" ttlInMinutes="5" cachingMode="Default" />
    <interface name="IMemberSubscriptionRepository" enabled="true" ttlInMinutes="5" cachingMode="Default" />
    <interface name="ITopicRepository" enabled="true" ttlInMinutes="5" cachingMode="HonorFeedProcessingConfig" />
  </interfaces>
</caching>