<?xml version="1.0" encoding="utf-8" ?>
<metrics-configuration failBuildIfAnyErrors="false" showWarnings="false">
  <scopes>
    
    <scope name="Member">
      <targets>
        
        <target name="CyclomaticComplexity">
          <warningTreshold left="10" right="20" />
          <errorTreshold left="20" right="2147483647" />
        </target>
        
        <target name="MaintainabilityIndex">
          <warningTreshold left="40" right="60" />
          <errorTreshold left="0" right="40" />
        </target>
        
        <target name="LinesOfCode">
          <warningTreshold left="120" right="200" />
          <errorTreshold left="200" right="2147483647" />
        </target>
        
      </targets>

      <ignores>
        
        <ignore fullName="Ix.Palantir.DataAccess.Bootstrapper.DataAccessRegistry.ConfigureRepositories(ConfigurationExpression) : void, Ix.Palantir.DataAccess.Bootstrapper" />
        <ignore fullName="Ix.Palantir.Services.ConcurrentAnalysisService.RankModels(RankedModel, IList&lt;RankedModel&gt;) : void, Ix.Palantir.Services" />
        <ignore fullName="Ix.Palantir.DataAccess.StatisticsProviders.StatisticsProvider.GetEntitiesForChart&lt;T&gt;(IQueryable&lt;T&gt;, DateRange, Periodicity, Func&lt;IEnumerable&lt;T&gt;, int&gt;) : IEnumerable&lt;PointInTime&gt;, Ix.Palantir.DataAccess" />
        <ignore fullName="Ix.Palantir.DataAccess.StatisticsProviders.StatisticsProvider.GetInteractionRate(int, DateRange, Periodicity) : IEnumerable&lt;IEnumerable&lt;PointInTime&gt;&gt;, Ix.Palantir.DataAccess" />
        <ignore fullName="Ix.Palantir.DataAccess.StatisticsProviders.KpiProvider.GetKpis(int, DateRange) : Kpi, Ix.Palantir.DataAccess" />
        <ignore fullName="Ix.Palantir.DataAccess.StatisticsProviders.StatisticsProvider.GetCounterAverages&lt;T&gt;(IList&lt;T&gt;, DateRange, Periodicity) : IEnumerable&lt;PointInTime&gt;, Ix.Palantir.DataAccess" />
        <ignore fullName="Ix.Palantir.DataAccess.StatisticsProviders.IrChartDataProvider.GetInteractionRate(int, DateRange, Periodicity) : IEnumerable&lt;IEnumerable&lt;PointInTime&gt;&gt;, Ix.Palantir.DataAccess" />
        <ignore fullName="Ix.Palantir.DataAccess.Export.ExportDataProvider.FillMembersSheet(ExcelWorksheet) : void, Ix.Palantir.DataAccess" />
        
      </ignores>
      
    </scope>    
    
    <scope name="Type">
      <targets>
        
        <target name="DepthOfInheritance">
          <warningTreshold left="4" right="6" />
          <errorTreshold left="6" right="2147483647" />
        </target>
        
        <target name="ClassCoupling">
          <warningTreshold left="18" right="40" />
          <errorTreshold left="40" right="2147483647" />
        </target>
        
        <target name="LinesOfCode">
          <warningTreshold left="400" right="600" />
          <errorTreshold left="600" right="2147483647" />
        </target>
        
      </targets>

      <ignores>
        <ignore fullName="Ix.Palantir.UI.MvcApplication, Ix.Palantir.UI" reason="Need to investigate this" />
        <ignore fullName="Ix.Palantir.DataAccess.StatisticsProviders.KpiProvider, Ix.Palantir.DataAccess" reason="Need to investigate this" />
        <ignore fullName="Ix.Palantir.DataAccess.StatisticsProviders.StatisticsProvider, Ix.Palantir.DataAccess" reason="Need to investigate this" />
        <ignore fullName="Ix.Palantir.Services.MetricsService, Ix.Palantir.Services" reason="Need to investigate this" />
        <ignore fullName="Ix.Palantir.DataAccess.StatisticsProviders.IrChartDataProvider, Ix.Palantir.DataAccess" reason="Need to investigate this" />
        <ignore fullName="Ix.Palantir.DataAccess.Repositories.VkGroupRepository, Ix.Palantir.DataAccess" reason="Need to investigate this" />
        <ignore fullName="Ix.Palantir.Services.MemberAdvancedSearchService, Ix.Palantir.Services" reason="Need to investigate this" />

        <ignore fullName="Ix.Palantir.DataAccess.Bootstrapper.DataAccessRegistry, Ix.Palantir.DataAccess.Bootstrapper" reason="It is fine for registry" />
        <ignore fullName="Ix.Palantir.Services.Bootstrapper.ServicesRegistry, Ix.Palantir.Services.Bootstrapper" reason="It is fine for registry" />
        <ignore fullName="Ix.Palantir.Queueing.Bootstrapper.QueueingRegistry, Ix.Palantir.Queueing.Bootstrapper" reason="It is fine for registry" />

      </ignores>
    
    </scope>
    
  </scopes>
</metrics-configuration>
