@{
    Layout = null;
}

<div class="popbox popboxView userActions" id="userActionsBox">
    <div class='box'>
        <ul>
            <li><a href="@Url.Action("List", "Projects")"><div>Группы</div></a></li>
            <li><a href="@Url.Action("List", "Users")"><div>Пользователи</div></a></li>
            <li><a href="@Url.Action("DoLogout", "Login")"><div>Выйти</div></a></li>
        </ul>
    </div>
</div>
