<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="${basedir}/Logs/logging-errors.log" throwExceptions="true" internalLogLevel="Trace">
  <targets async="true">
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/log.log" archiveFileName="${basedir}/Logs/archives/log.{#####}.txt" archiveAboveSize="123289600" maxArchiveFiles="20" archiveNumbering="Sequence" layout="${longdate} | ${level:uppercase=true} | ${threadid} | ${logger} | ${message}"  />
  </targets>
  <rules>
    <logger name="*" minlevel="ERROR" writeTo="file" />
  </rules>
</nlog>