<?xml version="1.0" encoding="utf-8" ?>
<queueing enableTransportLogging="false" enableTracing="false" serverConnectionString="failover://(tcp://localhost:61616)?randomize=true&amp;transport.initialReconnectDelay=10&amp;transport.startupMaxReconnectAttempts=1&amp;transport.maxReconnectDelay=1000&amp;transport.useExponentialBackOff=false&amp;transport.timeout=3000&amp;transport.maxReconnectAttempts=1&amp;wireFormat.cacheEnabled=false&amp;nms.AsyncSend=true&amp;nms.NonBlockingRedelivery=true">
  <queues>
    <queue id="FeedJobQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.FeedJobQueue?consumer.prefetchSize=3">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="FeedDataQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.FeedDataQueue?consumer.prefetchSize=500">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="GroupJobQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.GroupJobQueue?consumer.prefetchSize=1">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="ExportQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.ExportQueue?consumer.prefetchSize=1">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="ExportResultQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.ExportResultQueue?consumer.prefetchSize=1">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="CreateProjectQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.CreateProjectQueue?consumer.prefetchSize=1">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="MembersDeltaQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.MembersDeltaQueue?consumer.prefetchSize=1">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="MemberSubscriptionsFeedDataQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.MemberSubscriptionsFeedDataQueue?consumer.prefetchSize=1">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="CreateProjectResultQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.CreateProjectResultQueue?consumer.prefetchSize=1">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
    <queue id="DeleteProjectQueue" enableSendersPooling="true" maxPoolSize="30" idleTimeout="60" dlqTtl="14400" name="queue://%COMPUTERNAME%.DeleteProjectQueue?consumer.prefetchSize=1">
      <redeliveryPolicy useAMQScheduler="true" maximumRedeliveries="4" initialRedeliveryDelay="5000" useExponentialBackOff="true" backOffMultiplier="2" collisionAvoidancePercent="15" useCollisionAvoidance="false" />
    </queue>
  </queues>
</queueing>