<Schedulers>
  <Scheduler name="DefaultScheduler" eventLogging="false">
    <Jobs>
      <Job name="System">
        <!--Trigger type="CronTrigger" name="GetDataFeedFromVk">
          <Crontab>
            <second>*/20</second>
            <minute>*</minute>
            <hour>*</hour>
            <day>*</day>
            <month>*</month>
            <weekday>*</weekday>
          </Crontab>
        </Trigger-->
        <!--Trigger type="CronTrigger" name="ProcessVkFeeds">
          <Crontab>
            <second>0</second>
            <minute>*/1</minute>
            <hour>*</hour>
            <day>*</day>
            <month>*</month>
            <weekday>*</weekday>
          </Crontab>
        </Trigger-->
        <!--Trigger type="CronTrigger" name="EnsureInAllGroups">
          <Crontab>
            <second>0</second>
            <minute>*/1</minute>
            <hour>*</hour>
            <day>*</day>
            <month>*</month>
            <weekday>*</weekday>
          </Crontab>
        </Trigger>
        <Trigger type="CronTrigger" name="EnsureFeedJobQueueIsFull">
          <Crontab>
            <second>0</second>
            <minute>*/1</minute>
            <hour>*</hour>
            <day>*</day>
            <month>*</month>
            <weekday>*</weekday>
          </Crontab>
        </Trigger>
        <Trigger type="CronTrigger" name="EnsureGroupJobQueueIsFull">
          <Crontab>
            <second>20</second>
            <minute>*/1</minute>
            <hour>*</hour>
            <day>*</day>
            <month>*</month>
            <weekday>*</weekday>
          </Crontab>
        </Trigger>
        <Trigger type="CronTrigger" name="ProcessExport">
          <Crontab>
            <second>0</second>
            <minute>*/1</minute>
            <hour>*</hour>
            <day>*</day>
            <month>*</month>
            <weekday>*</weekday>
          </Crontab>
        </Trigger-->
        <!--Trigger type="CronTrigger" name="CreateProject">
          <Crontab>
            <second>*/5</second>
            <minute>*</minute>
            <hour>*</hour>
            <day>*</day>
            <month>*</month>
            <weekday>*</weekday>
          </Crontab>
        </Trigger-->
        <Trigger type="CronTrigger" name="ProcessMemberInOut">
          <Crontab>
            <second>0</second>
            <minute>*/1</minute>
            <hour>*</hour>
            <day>*</day>
            <month>*</month>
            <weekday>*</weekday>
          </Crontab>
        </Trigger>
      </Job>
    </Jobs>
    <Actions>
      <!--Action type="ReflectionBasedAction" name="GetFeedsFromVkAction">
        <ActionListener class="Ix.Palantir.Scheduler.UI.Actions.GetFeedsFromVkAction" assembly="Ix.Palantir.Scheduler.UI" />
        <Associations>
          <AssociateWith job="System" trigger="GetDataFeedFromVk" />
        </Associations>
      </Action>
      <Action type="ReflectionBasedAction" name="ProcessVkFeedsAction">
        <ActionListener class="Ix.Palantir.Scheduler.UI.Actions.ProcessVkFeedsAction" assembly="Ix.Palantir.Scheduler.UI" />
        <Associations>
          <AssociateWith job="System" trigger="ProcessVkFeeds" />
        </Associations>
      </Action>
      <Action type="ReflectionBasedAction" name="EnsureInAllGroups">
        <ActionListener class="Ix.Palantir.Scheduler.UI.Actions.EnsureUserInGroups" assembly="Ix.Palantir.Scheduler.UI" />
        <Associations>
          <AssociateWith job="System" trigger="EnsureInAllGroups" />
        </Associations>
      </Action>
      <Action type="ReflectionBasedAction" name="EnsureFeedJobQueueIsFullAction">
        <ActionListener class="Ix.Palantir.Scheduler.UI.Actions.EnsureFeedJobQueueIsFull" assembly="Ix.Palantir.Scheduler.UI" />
        <Associations>
          <AssociateWith job="System" trigger="EnsureFeedJobQueueIsFull" />
        </Associations>
      </Action>
      <Action type="ReflectionBasedAction" name="EnsureGroupJobQueueIsFullAction">
        <ActionListener class="Ix.Palantir.Scheduler.UI.Actions.EnsureGroupJobQueueIsFull" assembly="Ix.Palantir.Scheduler.UI" />
        <Associations>
          <AssociateWith job="System" trigger="EnsureGroupJobQueueIsFull" />
        </Associations>
      </Action>
      <Action type="ReflectionBasedAction" name="ProcessExportFeedsAction">
        <ActionListener class="Ix.Palantir.Scheduler.UI.Actions.ExportDataAction" assembly="Ix.Palantir.Scheduler.UI" />
        <Associations>
          <AssociateWith job="System" trigger="ProcessExport" />
        </Associations>
      </Action-->
      <!--Action type="ReflectionBasedAction" name="CreateProjectAction">
        <ActionListener class="Ix.Palantir.Scheduler.UI.Actions.CreateProjectAction" assembly="Ix.Palantir.Scheduler.UI" />
        <Associations>
          <AssociateWith job="System" trigger="CreateProject" />
        </Associations>
      </Action-->
      <Action type="ReflectionBasedAction" name="ProcessMemberInOutAction">
        <ActionListener class="Ix.Palantir.Scheduler.UI.Actions.MembersInOutUpdateAction" assembly="Ix.Palantir.Scheduler.UI" />
        <Associations>
          <AssociateWith job="System" trigger="ProcessMemberInOut" />
        </Associations>
      </Action>
    </Actions>
  </Scheduler>
</Schedulers>