<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.PostgreSQLDialect</property>
    <property name="connection.driver_class">NHibernate.Driver.NpgsqlDriver</property>
    <property name="connection.connection_string">Server=localhost;Port=5432;Database=Palantir;User Id=palantir_user;Password=palantir_password;</property>
    <property name="connection.release_mode">on_close</property>    
    <property name="show_sql">true</property>
    <property name="hbm2ddl.keywords">auto-quote</property>
    <property name="command_timeout">60</property>
  </session-factory>
</hibernate-configuration>