@model Ix.Palantir.UI.Models.HomeModel

@{
    ViewBag.Title = "Barberry | Эффективная аналитика социальных сетей";
    ViewBag.Keywords = "SMM, парсинг ВКонтакте";
    ViewBag.Description = "Решение для отслеживания действий групп в социальной сети ВКонтакте";
}
<h2>Добро пожаловать на Barberry!</h2>

<p>Рады приветствовать Вас на сайте Barberry - решение для отслеживания действий групп в социальной сети ВКонтакте.</p>
<p>Для того, чтобы начать пользоваться приложением, залогиньтесь @Html.ActionLink("здесь", "Index", "Login").</p>

